body{
  margin: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  
}
header{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.main-box-1{
  display: flex;
  flex-direction: column;

}
.top-box-1{
  display: flex;
  justify-content: space-between;
  width: 1500px;
  height: 950px;

}

.left-box-1{
  background-color: #E7F0F2;
  width: 60%;

}
.name-of-event-buy-tickets{
  margin: 100px 100px;
}
.name-of-event{
  width: 500px;
  font-style: normal;
  font-size: 100px;
  color: black;
  }
  .name{
    font-weight: 300;
  }
  .of-event{
    font-weight: 800;
  }
  .buy-tickets{
    width: 200px;
    height:65px;
    background-color: black;
    
  }
  .buy-tick{
  padding-top: 15px;
  }
.buy{
  color: white;
    font-size: 20px;
    text-decoration: none;
}

  .right-box-1{
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: right;

  }
.box-into-right-box-1{
  margin: 100px 100px;
  display: flex;
  flex-direction: column;
  height: 700px;
  text-align: right;
  
}


.latest-all-line{
  margin-top: 20px;
padding-left: 365px;
  color:rgba(0, 0, 0, 0.55) ;
display: flex;
justify-content: space-between;
 flex-direction: row-reverse;
 width: 70px;
 height: 250px;
 
}
  .latest-all{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  .latest{
    font-size: 17px;
  }
  .all{
    margin-top: 37px;
    font-size: 17px;
  }

  .line{
    width: 1px;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.4);
  }
  .january-1-st-line-lorem{
    height: 300px;
    padding-left: 150px;
  }

  .january-1-st{
  text-align: right;
   font-size: 45px;
  color: #000000;
  padding-left: 30px;
  }
  .st-1{
    font-weight: bold;
  }
  .lorem{
    color: rgba(0, 0, 0, 0.55);
    font-size: 15px;
  }
  .line-2{
    margin: 15px 0;
    margin-left:-20px;
    width: 300px;
height: 0px;
border: 1px solid #E7F0F2;
  }
  .lorem-1{
    width: 250px;
    padding-left: 32px;
  }

.black-containers{
  position: relative;
  left: 370px;
  top: 60px;
  display: flex;
  justify-content: space-between;
  width: 1050px;
}

.black-container{
  position: relative;
  background-color: black;
  width: 315px;
  height: 167px;
}

.gallery-subtaitle{
  margin-top: 115px;
  margin-right: 20px;
  text-align: end;
  color: white;
  
}
.gallery{
  
  font-size: 15px;
  font-weight: 500;
}
.subtaitle{
margin-top: -15px;
  font-size: 10.2px;
  font-weight: 300;
}

.main-box-2{
  display: flex;
  flex-direction: column;
}
.top-box-2{
  display: flex;
  justify-content: space-between;
  width: 1500px;
  height: 900px;
}

.left-box-2{
  width: 45%;
  background-color: #E7F0F2;
}
#model-photo{
  padding-left: 80px;
  
}

.buttons{
margin-top: -135px;
  margin-left: 180px;
  
}
.button-2{
  width: 55px;
  height: 65px;
  background-color: black;
   color: white;
   font-size: 25px;
font-weight: 300;
border: 1px solid black;
margin-right: 8px;
transform: rotate(0.5turn);
}

.button-3{
  width: 55px;
  height: 65px;
  background-color: black;
   color: white;
   font-size: 25px;
font-weight: 300;
border: 1px  solid black;
}

.right-box-2{
  width: 55%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.left-box-in-big-right-box{
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  margin-left: 100px;
  justify-content: right;
  height: 800px;
  
}
.color-item-type-name-numbers-lorem-size-add-to-cart{
  height: 800px;
  margin-top: 100px;
}

.color-item-type-name{
  font-size: 30px;

}
.color{
  font-weight: 400;
  color: #363A41;
}
.item-type-name{
  color: #363A41;
  font-weight: 700;
  margin-top: -37px;
}

h5{
  margin-top: -1px;
  font-weight: 700;
  font-size: 35px;
  color: #363A41;
}
h6{
  color:  #E7F0F2;
  font-size:20px ;
  font-weight: 600;
  margin-top:-55px ;
}

.paragraph{
  width: 500px;
color: rgba(0, 0, 0, 0.3);
  font-size: 20px;

}

.size{
  font-size: 20px;
  color:rgba(0, 0, 0, 0.55) ;
  font-weight: 600;
  margin-top: 40px;

}
.medium{
  border: 1px solid white;
  font-size: 30px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);;
margin-top: 50px;
}
.add-to-cart{
width: 185px;
  height: 65px;
  background-color: black;
  margin-top: 60px;
}

.add-to{
  padding-top: 18px;
}
.add{
  text-decoration: none;
  color: white;
  font-size: 17px;
  
}




.right-box-in-biggest-right-box{
  width: 25%;
  display: flex;
   flex-direction: column;
 text-align: center;
}

.basket-go-back-line{
  
width: 130px;
  margin-top: 40px;
}


.go-back{
  list-style-type: none;
   text-align: left;
  width: 150px;
}

.go--back{
  color: black;
   font-size: 20px;
  font-weight:700 ;
  text-decoration: none;
}
.line-5{
 width: 1px;
 height: 50px;
 margin-left: 10px;

 border: 0.1px solid #E7F0F2;;
}
.empty-boxes{
  width: 100px;
  height: 265px;
}


.mens-100-cotton{
  text-align: end;
  width: 150px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);

}



.section-3{
  background-color: white;
}

.shop{
  color: rgba(0, 0, 0, 0.55);
  font-size: 20px;
}
.hello{
  color: white;
}

.top-box-3{
  width: 1500PX;
  height: 950px;
}

.nav-1{
  width: 1500px;
  display: flex;
  justify-content: space-between;
}

.first-nav{
  width: 50%;
  height: 100px;
  margin: 0 auto;
  margin-left: 150px;
}

.freebie-digital-market{
  font-size: 40px;
}
.freebie{
  font-weight: 400;
  color: #E7F0F2;
}

.second-nav{
  width: 40%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-right: 40px;
}


.product{
  width: 270px;
  height: 70px;
font-size: 25px;
text-align: center;
border: 1px solid white;
border-bottom: 1px solid   #E7F0F2;
margin-left: 70px;
}


.search{
  margin-left: -40px;
margin-bottom: -10px;
}

.second-basket-photo{
  margin-top: -18px;
}

li{
  display: inline;
}


.right-box-in-second-nav{
  width: 20%;
  text-align: end;
  margin-top: 37px;
  margin-right: 10px;
}


.inside-this-box-there-are-3-boxes{
  display: flex;
  justify-content: space-between;
  margin: 50px 110px;

}

.left-box-3{
  width: 20%;
}

.middle-box-3{
  width: 66%;
  display: flex;
  flex-direction: column;
}


.blue-containers{
  margin-left: -40px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}


.blue-container{
  background-color: rgba(231, 240, 242, 0.3);
  width: 250px;
  height: 160px;
  line-height: 0.3px;
  text-align: start;
  margin: 0 20px;
}

.taitle-here-gategory{
  margin: 20px 20px;
  margin-top: 110px;
 }

 .taitle-here{
  font-size: 18px;
  font-weight: 750;
}

.gategory{
  font-size: 13px;
}

.left-box-3{
  display: flex;
  flex-direction: column;
}

.empty-container{
  height: 370px;
}
.line-7-nav{
  width: 290px;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.line-7{
  height: 250px;
  border: 1px solid #E7F0F2;
  margin-top: 15px;
}

.nav-2{
  width: 400px;
  height: 300px;
  margin-top: 20px;
}

.nav-2 ul{ 
  line-height: 40px;
  width: 100px;
  height: 300px;
  margin-left: -30px;
  
}

.gategory-1{
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.gategory-2{
  margin-top: -90px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  font-weight: 550;
}
.featured{
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
}

.right-box-3{
  width: 20%;
display: flex;
flex-direction: column;
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-top: 45px;
}

.second-basket-photo{
  margin-right: 40px;
}



.all-filter{
  display: flex;
  flex-direction: column;
 text-align: right;
  line-height: 40px;
  width: 100px;
  height: 300px;
padding-left: 150px;

}

.filter-1{
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-right: 41px;
}

.filter-2{
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  margin-right: 42px;
}

.all-1{
  font-size: 20px;
  font-weight: 600;
  margin-left: 174px;
}

.bottom-links{
  text-align: center;
padding-top: -50px;
  height: 20px;
}


.line-9{
  height: 260px;
  border: 1px solid rgba(231, 240, 242, 0.3);
  margin-top: 30px;
  margin-left: -30px;
}

.reference-number{
  font-size: 30px;
  color: rgba(19, 24, 26, 0.3);
  font-weight: 700;
  text-decoration: none;
  margin: 0 10px;
}

.reference-number-1{
  font-size: 30px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin: 0 3px;
}
.line-10{
  width: 500px;
  border: 0.8px solid  rgba(231, 240, 242, 0.3);
  margin: 0 auto;
  
}



@media screen and (max-width:1470px){

  main{
    max-width: 1300px;
   
  }

  .top-box-1{
    display: flex;
    max-width: 1300px;
    
  }
  .right-box-1{
    width: 48%;
  }
  .left-box-1{
    width: 52%;
  }
.black-containers{
  position: relative;
  left: 200px;
}
.january-1-st-line-lorem{
  width: 260px;
}
.section-2{
  display: flex;
  max-width: 1300px;
}
.mens-100-cotton{
  position: relative;
  right: 280px;
}
.color-item-type-name-numbers-lorem-size-add-to-cart{
  position: relative;
  left: -80px;
}
.basket-go-back-line{
  position: relative;
  right: 250px;
}


.black-containers{
  position: relative;
  width: 1000px;
}

.nav-2{
  position: relative;
  right: 40px;
}
.middle-box-3{
  position: relative;
  right: 100px;
}
.all-1{
  position: relative;
  right: 200px;
}
.all-filter{
  position: relative;
  right: 200px;
}
.nav-1{
 width: 1250px;
 
}
.line-9{
  position: relative;
  right: 200px;
}
.line-7{
  position: relative;
  right: 50px;
}
















}
   


@media screen and (max-width:1250px){
 .top-box-1{
   max-width: 1200px;
   height: 850px;
 }
 

.left-box-1{
  width: 600px;
}

.name-of-event{
  font-size: 80px;
  }
  .buy-tickets{
     width: 150px;
     height: 50px;
  }
 .buy{
   font-size: 15px;
  margin-left: -7px;
 }
.right-box-1{
  width: 600px;
}
.january-1-st-line-lorem{
  position: relative;
  bottom: 90px;
  right: 60px;
}
.latest-all-line{
  position: relative;
  right: 80px;
}
.black-containers{
  position: relative;
  left: 70px;
}

.blue-containers{
  position: relative;
  right: 130px;
  bottom: 20px;
  
}
.nav-1{
  position: relative;
  right: 00px;
  width: 900px;
}

.freebie-digital-market{
  position: relative;
  bottom: 50px;
}

.nav-2{
  position: relative;
  top: 290px;
  left: 220px;
}

.bottom-links{
  position: relative;
  top: 270px;
  right: 235px;
}
.right-box-3{
  position: relative;
  top: 630px;
  right: 490px;
}

}
@media screen and (max-width:1110px){
  .top-box-1{
    width: 1110px;

  }
  .left-box-1{
    width: 50%;
  }
  .right-box-1{
    width: 50%;
  }
   .latest-all-line{
     position: relative;
     bottom: 70px;
     right: 200px;
   }
.january-1-st-line-lorem{
  position: relative;
  right: 190px;
  bottom: 150px;
}

.black-containers{
  position: relative;
  width: 950px;
  left: 5px;
}

.section-2{
  width: 1100px;
  height: 695px;
}

.left-box-2{
  width: 553px;
}
#model-photo{
  position: relative;
  left: 70px;
  width: 500px;
  height: 700px;
}
.buttons{
  position: relative;
  right: 50px;

}
.color-item-type-name{
  font-size: 25px;
  position: relative;
  bottom: 120px;
  right: 100px;
}
.numbers{
  font-size: 20px;
  position: relative;
  right: 97px;
  bottom: 130px;
}
.paragraph{
  position: relative;
  bottom: 160px;
  right: 100px;
  width: 400px;
}
.size{
  position: relative;
  bottom: 180px;
  right: 100px;
}
.add-to-cart{
  position: relative;
  bottom: 193px;
  right: 100px;
}
.mens-100-cotton{
  position: relative;
  right: 500px;
  bottom: 130px;
}
.basket-go-back-line{
   position: relative;
  right: 430px;
  bottom: 50px;
}

.line-9{
  position: relative;
  top: 630px;
  right: 680px;
}
.line-7{
  position: relative;
  top: 290px;
  left: 209px;
}
  
}



@media screen and (max-width:1000px){
  .top-box-1{
    width: 1000px;
    height: 600px;
  }
  .right-box-1{
    width: 50%;
  }
  .left-box-1{
    width: 50%;
  }
.latest-all-line{
  color: white;
}
.line{
  background-color: white;
}

.january-1-st-line-lorem{
  position: relative;
  right: 290px;
bottom: 330px;
}
.name-of-event{
  position: relative;
  bottom: 80px;
  font-size: 80px;
}
.buy-tickets{
  position: relative;
  bottom: 110px;
}

.black-containers{
 width: 700px;
 top: -150px;
 left: 60px;
}
.black-container{
  width: 230px;
  height: 160px;
}

.section-2{
  width: 1000px;
}
.left-box-2{
  width: 494px;
}
#model-photo{
  position: relative;
  left: -10px;
}
.buttons{
  position: relative;
left: 325px;
}
.color-item-type-name{
  position: relative;
  font-size: 20px;
  right: 190px;
}
.numbers{
  position: relative;
  right: 190px;
}
.basket-go-back-line{
  position: relative;
  right: 680px;
  bottom: 100px;
}
.paragraph{
  position: relative;
  right: 190px;
  font-size: 15px;
  width: 250px;
}
.size{
  position: relative;
  right: 190px;
}
.add-to-cart{
  position: relative;
  right: 190px;
}
.mens-100-cotton{
  position: relative;
  right: 750px;
  font-size: 15px;
}

.middle-box-3{
  position: relative;
  right: 150px;
  width: 700px;
}


.nav-1{
  position: relative;
  right: 100px;
  width: 900px;
}

.freebie-digital-market{
  position: relative;
  left: 50px;
}
.nav-2{
  position: relative;
  left: 120px;
}

.bottom-links{
  position: relative;
  right: 360px;
top: 240px;
}
.line-10{
  position: relative;
  left: 12px;
}

.right-box-3{
  position: relative;
  top: 635px;
  right: 570px;
}

.second-nav{
  position: relative;
  right: 60px;
}

.blue-containers{
  position: relative;
  right: 170px;
}
.line-7{
  position: relative;
  left: 110px;
}
.line-9{
  position: relative;
  right: 800px;
}

}

@media screen and (max-width:800px){
  .top-box-1{
    height: 450px;
  }

  .left-box-1{
    width: 650px;
  }
  .left-box-2{
    width: 650px;
    
  }

  .black-containers{
    position: relative;
    top: 90px;
    left: 12px;
    display: flex;
    flex-direction: column;
  }
.black-container{
  margin: 10px 0;
  
}
.january-1-st-line-lorem{
  position: relative;
  right: 850px;
  top:1px;
}

#model-photo{
  position: relative;
  width: 350px;
  height: 450px;
  top: 250px;
  left: 100px;
}

.right-box-2{
  height: 750px;
  position: relative;
  top: 700px;
  right:670px;
}

.section-3{
  position: relative;
  top: 350px;
}
.go--back{
  color: white;
  position: relative;
  left: 1300px;
}
.line-5{
  position: relative;
  left: 500px;
}
.item-type-name{
  position: relative;
  left: 200px;
  top: 60px;
}
.numbers{
  position: relative;
  left: 340px;
 top: -130px;

}
.paragraph{
  position: relative;
  left: 20px;
  width: 400px;
  text-align: center;
}
.size{
  position: relative;
  left: 250px;
  bottom: 500px;
}
.add-to-cart{
  position: relative;
  left: 10px;
  bottom:610px;
}
.buttons{
  background-color: white;
  position: relative;
  top: 800px;
}
.mens-100-cotton{color: white;}


.second-nav{
  position: relative;
  right: 400px;
  top: 130px;
}
.blue-containers{
  position: relative;
  right: 220px;
  width: 500px;
  top: 50px;
}
.blue-container{
  width: 120px;
  height: 100px;
}
.taitle-here-gategory{
  position: relative;
  bottom: 40px;
  right: 10px;
}

.taitle-here{
  font-size: 10px;
}
.gategory{
  font-size: 7px;
}
.nav-2{
  position: relative;
left: 17px;
top: 165px;
}
.featured{
  font-size: 13px;
}
.gategory-1{
  font-size: 10px;
}
.gategory-2{
font-size: 10px;
}
.right-box-3{
  position: relative;
  right: 800px;
  top: 510px;
}
.all-1{
  font-size: 13px;
}
.filter-1{
  font-size: 10px;
}
.filter-2{
  font-size: 10px;
}
.bottom-links{
  position: relative;
  right: 520px;
  top: 130px;
}
.line-10{
  width: 330px;
}
.reference-number{
  font-size: 17px;
}
.reference-number-1{
  font-size: 17px;
}
.line-9{
  position: relative;
  right: 1040px;
  height: 240px;
  top: 520px;
}
.line-7{
  position: relative;
  top: 165px;
  height: 240px;
  left: 20px;
}


}




  














